<?xml version="1.0"?>
<configuration>
	<sites>
		<site type="application">
			<dBServer serverName="REdev" dbName="Doxim7" userId="admin" password="adminski" />
			<coreSite exists="false" applicationName="Doxim25" adminParentPath="D:\Jack\installer\powerShell\Website2\Asp\" />
			<webSite siteName="Default Web Site" applicationName="Doxim25" applicationPool="DoximEDoc25" applicationPoolIdentityDomain="Research" 
					applicationPoolIdentity="ECMService" applicationPoolIdentityPwd="horton" 
					path="D:\Jack\installer\powerShell\Website2" />
		</site>
		<!--site type="application">
			<dBServer serverName="REdev" dbName="Doxim7" userId="admin" password="adminski" />
			<coreSite exists="true" applicationName="dxm0" adminParentPath="D:\Jack\DoximEcm\DoximEcm6\Core\Asp\" />
			<webSite siteName="Default Web Site" applicationName="Doxim26" applicationPool="DoximEDoc26" applicationPoolIdentityDomain="Research" 
					applicationPoolIdentity="ECMService" applicationPoolIdentityPwd="horton" 
					path="\\RVJACKH\installer\PowerShell\Website3" />
		</site-->
	</sites>
</configuration>