<?xml version="1.0"?>
<configuration>
	<site type="application">
		<dBServer serverName="REdev" dbName="Doxim7" userId="admin" />
		<coreSite exists="false" applicationName="Doxim25" adminParentPath="D:\Jack\installer\powerShell\Website2\Asp\" />
		<webSite siteName="Default Web Site" applicationName="Doxim25" applicationPool="DoximEDoc25" applicationPoolIdentityDomain="Research" 
				applicationPoolIdentity="ECMService" path="D:\Jack\installer\powerShell\Website2" />
	</site>
	<!--site type="application">
		<dBServer serverName="REdev" dbName="Doxim7" userId="admin" />
		<coreSite exists="true" applicationName="Doxim25" adminParentPath="D:\Jack\installer\powerShell\Website2\Asp\" />
		<webSite siteName="Default Web Site" applicationName="Doxim27" applicationPool="DoximEDoc27" applicationPoolIdentityDomain="Research" 
				applicationPoolIdentity="ECMService" path="D:\Jack\installer\powerShell\Website7" />
	</site-->
</configuration>
